* {
  font-family: "DynaPuff", cursive !important; }

p {
  font-size: 14px; }

footer p {
  font-size: 10px; }

body {
  width: auto;
  height: auto; }

#header {
  height: auto; }

#main {
  height: auto; }

#footer {
  height: auto;
  color: #b9b9b9; }

a {
  color: rgba(109, 109, 109, 0.781) !important;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px; }
  a:hover {
    color: #369681 !important;
    transition: .3s;
    font-style: italic; }
  a.active {
    border: 1px dashed rgba(109, 109, 109, 0.781);
    border-radius: 7px; }

.btn {
  color: #fff;
  background-color: #18e50d;
  border: 2px solid black; }
  .btn:hover {
    color: #fff;
    background-color: #18e50d;
    border: 2px solid black;
    font-weight: bold; }

.paragraphs {
  color: #4e0a0a;
  font-style: italic;
  font-weight: 700; }

#imagen1 {
  height: 400px;
  object-fit: cover; }

.photo {
  width: 300px;
  height: 150px;
  margin: 20px 10px;
  object-fit: cover; }

img {
  border-radius: 8px; }

.historia {
  color: #717171;
  font-style: italic;
  font-size: 16px;
  font-weight: bold;
  width: 500px; }

.redesLogo {
  width: 50px;
  height: 50px;
  margin: 0 20px; }

#redes {
  margin: 50px; }

.imgEscuela {
  margin: 50px 25px;
  width: 50px;
  height: 50px; }

/* TABLES */
.tablaContenedor {
  margin: 15px auto; }

table {
  text-align: left;
  background-color: rgba(39, 61, 54, 0.158);
  width: 80%;
  border-collapse: collapse;
  border-radius: 15px; }

th,
td {
  padding: 10px; }

tr:hover td {
  background-color: #369681;
  color: white; }

thead {
  background-color: #246355;
  border-bottom: solid 3px #0f362d;
  color: white; }

.pStyle {
  font-weight: 700; }

/* forms */
.formContenedor {
  margin: 15px auto;
  width: 600px; }

fieldset {
  border: none;
  margin-top: 30px; }

.pForm {
  margin-top: 18px;
  margin-bottom: 10px; }

form {
  padding: 20px;
  color: #797777; }

input {
  border: 0;
  outline: none; }

.inputStyle {
  border: solid 1px #b9b9b9;
  padding: 5px;
  width: 280px; }
  .inputStyle:focus {
    border: solid 2px #369681; }

@media (max-width: 576px) {
  .photo {
    width: 100%;
    height: 200px; }
  p {
    font-size: 20px; }
  .historia {
    font-size: 25px; } }

@media (max-width: 768px) {
  .photo {
    width: 100%;
    height: 200px; }
  p {
    font-size: 20px; }
  .historia {
    font-size: 25px; } }
