* {
    font-family: $principal;
}

p {
    font-size: $size-fuente +4;
    font-size: $parrafos;
}

footer p {
    font-size: $size-fuente+2;
}

body {
    width: $ajuste;
    height: $ajuste;
}

#header {
    height: $ajuste;
}

#main {
    height: $ajuste;
}

#footer {
    height: $ajuste;
    color: #b9b9b9;
}


// nav

a {
    color: map-get($colores-principales, "negro") !important;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $size-fuente*2;
    font-family: $enlaces;
        &:hover {
            color: map-get($colores-principales, "verde-luminoso") !important;
            transition: .4s;
            font-style: italic;
        }
}

// buttons

.btn {
    color: map-get($colores-principales, "blanco");
    background-color: map-get($colores-principales, "verde-luminoso");
    border: 2px solid black;
        &:hover {
            color: map-get($colores-principales, "negro");
            background-color: map-get($colores-principales, "verde-luminoso");
            font-weight: bold;
        }
}

// paragraphs

.paragraphs {
    color: map-get($colores-principales, "bordo");
    font-style: italic;
    font-weight: 700;
}

.historia {
    color: map-get($colores-principales, "negro");
    font-style: italic;
    font-size: $size-fuente+6;
    font-weight: bold;
    width: 500px;
}