#imagen1 {
    height: 400px;
    object-fit: cover;
}

// photos

.photo {
    width: 300px;
    height: 150px;
    margin: 20px 10px;
    object-fit: cover;
    border: $bordeUno;
}

img {
    border-radius: 8px;
}

// social networks

.redesLogo {
    @include logo;
}

#redes {
    margin: 50px;
}

// school

.imgEscuela {
    margin: 50px 25px;
    width: 70px;
    height: 70px;
    border: $bordeUno;
}