// MEDIDAS

// ajustes
$ajuste: auto;

// tipografías
$normal: 'DynaPuff', cursive !important;

// tamaño de fuentes
$size-fuente: 10px;

// colores principales
$verde-claro: #369681;
$verde-luminoso: #18e50d;
$bordo: #4e0a0a;