// ajustes
$ajuste: auto;

// bordes de imagenes
$bordeUno: 2px solid black;

// tipografías
$principal: 'Gemunu Libre', sans-serif;
$enlaces: 'DynaPuff', cursive;
$parrafos: 'Yanone Kaffeesatz', sans-serif;

// fuente estandar
$size-fuente: 10px;